<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
        <script src="https://kit.fontawesome.com/810f502208.js" crossorigin="anonymous"></script>

        <style>

            .navbar {
				background-color: #1881AB;
				border-radius: 0;
			}
			.navbar a {
				color: white;
			}

		</style>
	</head>

	<body>

		<header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid justify-content-start">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">OBD-II Visualization</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/map">Map</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </nav>
        </header>

     <div style="text-align: center;">
  <h2 style="margin-bottom: 20px;">About</h2>

  <p style="font-size: 1.2em; line-height: 1.5;">
    My Name is Yasir Saeed, and I'm a Computer Science major at the University of Windsor, and this is my submission for the OBD-II Interpretation and Visualization Challenge. <br><br>

    This web application, built with Python, HTML and CSS and the web framework Flask. It loads a dataset from a car trip, and graphs each column in the dataset with respect to time. It also gives the corresponding PID (Parameter ID) Code and Description of the column. <br><br>

    I have also added an interactive map, which graphs the car's journey if the latitude and longitude of the vehicle is logged throughout the trip. <br><br>

    In conclusion, I am proud of the work I have completed through my knowledge in Computer Science and programming, and overall it has been a valuable learning experience for me. <br><br>

    Below is a link to the github repository with all the source code: 
  </p>
</div>

<div style="text-align: center">
<a href="https://github.com/yasir-saeed/future-mobility-challenge" class="btn">
	
  <i class="fab fa-github"></i>
  Visit My GitHub
</a>
</div>

<style>
  .btn {
    background-color: #24292e;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0px 5px 10px #333;
  }

  .btn i {
    margin-right: 10px;
  }
</style>

		



	</body>
</html>		